.app-container{
  background-color: rgba(255, 0, 0, 0.326);
}

.weather-card{
  background-color: rgba(0, 128, 0, 0.554);
}

.weather-box-placeholder{
  background-color: rgba(0, 0, 255, 0.45);
}
.search-section{
  background-color: rgb(158, 3, 29);
}
.city-input{
  background-color: yellow;
}